{% unless site.blogroll == empty %}
  <section class="blogroll">
    <nav>
      <ul>
        {% for menu in site.blogroll %}
          {% unless menu.items == empty %}
            <li class="blogroll-menu">
              <section>
                <nav>
                  <h4>{{ menu.title }}</h4>
                  <ul>
                    {% for menu_item in menu.items %}
                      <li class="{{ menu_item.url | text_if_current}}">
                        <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </nav>
              </section>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </nav>
  </section>
{% endunless %}
