<section class="menu">
  <nav class="menu">
    {% if site.navigation_menu and site.navigation_menu.items != empty %}
      <ul>
      {% for menu_item in site.navigation_menu.items %}
        <li id="menu_item_{{ menu_item.id }}" class="menu-item {{ menu_item.url | text_if_current}}">
          <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
        </li>
      {% endfor %}
        <li class="menu-trigger">☰</li>
      </ul>
    {% endif %}
  </nav>
  <div class="menu-trigger">☰</div>
</section>
