<div id="main">
  {% if posts == empty and request.template != 'homepage' %}
    <h2>No posts found.</h2>
  {% endif %}

  {% for post in posts %}
    <div class="post-container">
      <article class="post">
        {% include 'post' %}

        <footer class="homepage-post-footer">
          {{ post | share_buttons }}
        </footer>
      </article>
    </div>
  {% endfor %}

  {% if posts.pagination %}
    <div class="pagination">
      {% slim_pagination %}
    </div>
  {% endif %}
</div>
