{% case response.type  %}
{% when "comment" %}
  <div class="response">
    <div class="comment">
      {{ response.body }}
    </div>
    <div class="byline">
      <span class="response-name">{{ response.display_name }}</span>
      <span class="time-ago">{{ response.created_at | relative_date }}</span>
    </div>
  </div>
{% endcase %}
