@import 'normalize';
@import 'hint';
@import 'mixins';
@import 'variables';
@import 'header';
@import 'post';
@import 'footer';
@import 'social';

@import "compass/css3/opacity";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";
@import "compass/css3/user-interface";

/*********************************************************
*  Variables
*********************************************************/

$headerFont: 'proximanova-extrabold', sans-serif;

$helveticaNeue: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$helveticaNeueLight: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
                     Arial, "Lucida Grande", sans-serif;
$helveticaNeueUltralight: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light",
                          "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$bodyColor: rgba($primary,.8);
$bodyFont: 'Proxima Nova', sans-serif;
$bodyWeight: normal;

$fullGutter: 60px;

$footerSectionWidth: 250px;


$primaryColor: #2b6cc2;
$primaryDarkerColor: #285188;
$errorColor: #a00;

/*********************************************************
*  General
*********************************************************/

body {
  line-height: 1.5; 
  color: rgba($primary, .8); 
  margin: 0 0; 
  font-family: $bodyFont;
  font-weight: $bodyWeight;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover { text-decoration: none; }
.post-body a,
.subscribe-footer a,
.search-archive a,
section.blogroll a {
  border-bottom: 2px dashed rgba(0,0,0,0.1);
  outline: none;
  &:hover {
    border-bottom-color: rgba(0,0,0,0.4);
  }
  &:active {
    border-bottom-color: rgba(0,0,0,0.7);
  }
}

// for links that show a dashed underline but also include
// the link animation, make the dashed underline transparent
// on hover for a cleaner animation
section.blogroll a {
  &:hover {
    border-bottom: solid 2px transparent;
  }
}
.small {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.6
}

h1, h2, h3, h4, h5, h6 { font-weight: 800; line-height: 1.1;}
h1 { font-size: 48px; }
h2 { font-size: 30px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; font-weight: normal; opacity: 0.6 }

textarea, input[type=text] {
  padding: 10px 20px;
  width: 100%;
	box-sizing: border-box;
	height: 50px;
	border: 2px solid rgba(0,0,0,0.15);
	border-radius: 2px;
	background-color: #FFFFFF;
  font-size: 20px;
  outline: none;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(68, 68, 68, 0.2);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba(68, 68, 68, 0.2);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba(68, 68, 68, 0.2);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(68, 68, 68, 0.2);
  }
  &:hover {
  	border: 2px solid rgba(0,0,0,0.5);
  }
  &:active {
  	border: 2px solid rgba(0,0,0,1);
  }
}
input[type='submit'], .posthaven-user-subscribe a {
  width: 100%;
  font-family: "proximanova-medium";
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  padding: 9px 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
	box-sizing: border-box;
	height: 50px;
	border: 2px solid #000000;
	border-radius: 2px;
	background: rgba(0,0,0,0.85);
  outline: none;
}
input[type='submit']:hover, .posthaven-user-subscribe a:hover {
  background: rgba(0,0,0,1);
}
input[type='submit']:active, .posthaven-user-subscribe a:active,
input[type='submit']:focus, .posthaven-user-subscribe a:focus, {
  background: rgba(0,0,0,1);
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgba(0, 0, 0, 0.25) 0px 0px 0px 3px;
}
.posthaven-share-links {
  .posthaven-upvote {
  	border: 2px solid #DDDDDD;
    padding: 3px 5px 3px 9px;
    border-radius: 4px;
    &:hover {
      border-color: rgba(0,0,0,0.5);
      background-color: transparent;
      .posthaven-upvote-label, .posthaven-upvoted-label {
        color: #509DFF;
      }
      .posthaven-upvote-number {
  	    color: #000000;
      }
    }
    .posthaven-upvote-label, .posthaven-upvoted-label {
    	color: #509DFF;
    	font-family: "proximanova-medium";
      font-weight: bold;
    	font-size: 15px;
    	line-height: 18px;
      text-transform: uppercase;
    }
    .posthaven-upvote-number {
    	opacity: 0.3;
	    color: inherit;
      font-family: "proximanova-medium";
    	font-size: 15px;
    	font-weight: bold;
    	line-height: 18px;
    }
  }
}
.alert {
  font-size: 14px;
  margin: 10px 0px 10px $fullGutter;
  width: $postWidth;
  max-width: 100%;
  position:relative;
  padding:8px;
  border:1px solid #ddd;
  color: $primaryColor;
  background:#fff;
  @include border-radius(5px);

  &:before {
    content:"";
    position:absolute;
    /* FIXME - This is computed from the border below? Why isn't it using scss variables? */
    top:-10px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:20px;
    right:auto; /* controls horizontal position */
    border-width:0 10px 10px;
    border-style:solid;
    border-color:#ccc transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }

  /* creates the smaller  triangle */
  &:after {
    content:"";
    position:absolute;
    /* FIXME - Computed? What adds up to -9??? */
    top:-9px; /* value = - border-top-width - border-bottom-width */
    bottom:auto;
    left:20px;
    right:auto; /* value = (:before right) + (:before border-right) - (:after border-right) */
    border-width:0 10px 10px;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
}

#container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1400px;
  padding: 0 20px;
  position: relative;
}

/*********************************************************
*  Topbar and Header
*********************************************************/


.header {
  text-align: center;
  max-width: $postWidth;
  padding: 100px 0 75px;
  margin: auto;

  h1 { margin: 0px; line-height: 58px; text-transform: uppercase;}
  h1 a {
    &:hover { text-decoration: none; }
  }
  h5 {
    margin: 0px;
  }

}
#main_container {
  position: relative;
}

.main-content {
  min-height: 300px;
}



section.subhead {
  margin: auto;
  text-align: center;
  h3 {
    margin: 0;
  }
}

section.tags {
  text-align: center;
  max-width: $postWidth;
  margin: auto;

  h4 {
    margin-bottom: 15px;
  }

  .all-tags {
    display: flex;
    margin-top: 10px;
    justify-content: center;

    .show-all-tags {
      cursor: pointer;
      font-weight: 800;
      @include animate-links;
    }
  }

  ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin: 2px;

      &.hide {
        display: none;
      }
    }

    a {
      align-items: baseline;
      border-radius: 100px;
      border: 2px solid rgba($primary, .13);
      box-sizing: border-box;
      color: rgba($primary, .5);
      display: flex;
      font-size: 18px;
      margin: 2px;
      padding: 0 10px 1px;
      transition: all .25s ease;
      user-select: none;

      span {
        // count
        color: rgba($primary, .3);
        font-size: 16px;
        margin-left: 5px;
        transition: all .25s ease;
      }

      &:hover {
        border: 2px solid rgba($primary, .4);
        color: rgba($primary, .7);
        transition: all 0s ease;

        span {
          color: rgba($primary, .5);
          transition: all 0s ease;
        }
      }

      &:active {
        border: 2px solid rgba($primary, .7);
        color: rgba($primary, .9);
        transition: all 0s ease;

        span {
          color: rgba($primary, .7);
          transition: all 0s ease;
        }
      }
    }

    .clear-tag {
      span {
        // x replaces count
        align-items: center;
        background: rgba($primary, .5);
        //background: url("data:image/svg+xml;charset=utf-8,<svg width='10' height='10' xmlns='http://www.w3.org/2000/svg'><path d='M10 1.814L8.185 0 5 3.184 1.815 0 0 1.814 3.185 5 0 8.183l1.815 1.815L5 6.814 8.185 10 10 8.184 6.815 4.998z' fill='#000' fill-rule='nonzero'/></svg>");
        border-radius: 10px;
        box-sizing: border-box;
        color: choose-contrast-color($primary);
        cursor: pointer;
        display: flex;
        height: 18px;
        justify-content: center;
        margin-left: 4px;
        margin-right: -4px;
        padding: 4px;
        width: 18px;

        svg {
          fill: currentColor;
        }
      }

      &:hover {
        span {
          background: rgba($primary, .75);
          color: choose-contrast-color($primary);
        }
      }

      &:active {
        span {
          background: rgba($primary, .9);
          color: choose-contrast-color($primary); 
        }
      }
    }
  }
}

// FOOTER ICON
// the logomark is in the <figure>.
// the wordmark comes from the svg sprite.
// wordmark is referenced in #id, then the .class sits 
// on the <svg> in the html to use css color variables
// so we can colorize from css
.posthaven {
  display: flex;
  justify-content: center;
  margin: 50px;

  a {
    align-items: center;
    justify-content: center;
    display: inline-flex;
  }

  figure {
    border-radius: 4px;
    height: 32px;
    margin-right: 12px;
    overflow: hidden;
    position: relative;
    width: 32px;

    &:before,
    &:after {
      bottom: 0;
      content: "";
      position: absolute;
      top: 0;
    }

    &:before {
      background: rgba($primary, .5);
      left: 0;
      width: 22px;
    }

    &:after {
      background: rgba(0,0,0,.35);
      right: 0;
      width: 10px;
    }
  }

  .posthaven-wordmark {
    --color-1: rgba($primary, .5);
    --color-2: rgba($primary, .35);
    height: 13px;
    width: 120px;
  }
}


/*********************************************************
*  Subscribe Form
*********************************************************/

.subscribe-footer {
  margin: 100px 0px;
  text-align: center;

  h3 {
    margin-bottom: 0px;
  }

  .subscribe-wrapper {
    width: 500px;
    max-width: 100%;
    margin: auto;
    font-size: 18px;
    span {
      display: block;
    	opacity: 0.7;
    	font-size: 20px;
    	font-weight: 500;
     }
  }

  input {
    max-width: 400px;
    margin-top: 12px;
  }
  input[type=submit] {
    display: none;
    margin: 12px auto;
    max-width: 400px;
  }
  .posthaven-subscribe-error { color: #a00; }
}

.post-responses h4 {
  text-align: center;
}

.posthaven-user-subscribed .post-responses .subscribe {
  display: none;
}

/*********************************************************
*  Private Page
*********************************************************/

.posthaven-password-field {
  display: inline-block;
}

/*********************************************************
*  Posts
*********************************************************/

#main {
  margin: auto;
}

#main.archive-results {
  max-width: $postWidth;
  margin: auto;
  text-align: center;
}
aside {

  section {
    margin-bottom: 10px;
  }

  margin: 25px auto;
  color: rgba($primary, .25);
  font-size: 18px;
  a { color: rgba(68, 68, 68, 0.3); }
  .tag-count { font-size: 12px;}
  .show-tags { margin-top: 5px; font-size: 12px; }
  h3 { margin: 20px 0px 5px; font-size: 12px; font-weight: normal; }
  ul { padding-left: 0px; margin: 0px 0px; }
  ul li { list-style: none; }
}


/*********************************************************
*  Pagination
*********************************************************/

.pagination {
  text-align: center;
  max-width: $postWidth;
  margin: auto;

  ul {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      &.previous,
      &.next {
        font-weight: 800;

        a {
          color: rgba($primary, 1);
          font-size: 20px;
          @include animate-links;
        }
      }

      // page numbers
      &.number {
        &.active {
          a {
            color: rgba($primary, .3);
            cursor: default;
            font-size: 18px;

            &:hover,
            &:active {
              color: rgba($primary, .3);

              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  ul li.number, ul li.gap, ul li.first, ul li.last { display: none; }
  ul li.number.active { display: block; flex: 1;}
}


/*********************************************************
*  Responses
*********************************************************/

#post_responses {
  margin: 40px auto;
  max-width: 600px;
}

.post-responses {
  h4 { margin-bottom: 20px; }
  .responses {
    .response {
      position: relative;
      margin: 10px 0px;
	    font-size: 18px;
	    line-height: 26px;
	    text-align: justify;

      p { margin: 8px 0px; }
      p:first-child { margin: 0 0 8px; }
      .byline {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .response-name { font-family: "proximanova-extrabold"; }
        .time-ago {
          color: #ccc;
        }
      }
    }
  }
  .posthaven-loader {
    margin: 5em auto;
  }
}

.posthaven-share-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  .posthaven-share-item {
    display: inline-block;
    margin: 0px 5px;
  }
}

@media handheld, only screen and (max-width: 414px) {
  .posthaven-share-links > .posthaven-share-item {
    display: block;
    margin: 5px 0;
  }
}




.posthaven-comment-form {
  padding: 0 0 40px;
  text-align: center;

  .posthaven-comment-add-url { display: none; }

  input[type=submit] {
    display: none;
  }

  .posthaven-field {
    margin: 10px 0px;
    display: block !important;

    label {
      display: none;
    }

    textarea, input[type=text] {
      width: 100%;
    }

    input[type=checkbox] {
      margin-right: 3px;
    }

    &.posthaven-comment-notify-field {
      label {
        display: inline;
      	opacity: 0.7;
      	font-family: "proximanova-medium";
      	font-size: 18px;
      	font-weight: 500;
      	line-height: 30px;
      }
    }
    &.posthaven-comment-body-field {
      label {
        font-weight: bold;
        text-align: center;
        width: 100%;
      }
    }
  }
  .posthaven-comment-verification { width: 500px; margin-bottom: 10px; }
}

/*********************************************************
*  Archive
*********************************************************/
.archive-title { margin-bottom: 10px;}
.archive-container {
  position: relative;
  .posthaven-loader {
    margin: 5em auto;
  }
}
.archive-view {
  margin-bottom: 60px;
  a {
  	color: inherit;
  	font-family: "proximanova-medium";
  	font-size: 18px;
  	font-weight: bold;
  	line-height: 22px;
    outline: none;
    border-bottom: 2px dashed rgba(0,0,0,0);
    &:first-child {
      margin-right: 40px;
    }
    &.active {
      border-bottom-color: rgba(0,0,0,0.1);
    }
    &:hover {
      border-bottom-color: rgba(0,0,0,0.4);
    }
    &:active {
      border-bottom-color: rgba(0,0,0,0.7);
    }
  }
}
.archive-results {
  margin-bottom: 40px;

  ul {
    padding: 0px;
  }
}
.posthaven-archive-all-dates {
  display: inline-block;
  margin-bottom: 40px;
}
.posthaven-archive-form {
  input {
    width: 100%;
    padding: 5px 5px 5px 35px;
    background-image: url('images/search.png');
    background-repeat: no-repeat;
    background-position: 7px 10px;
    background-size: 18px 18px;
  }
}

.archive-link {
  font-size: 13px;
}

input.archive-search.archive-tooltip {
  color: #aaa;
}

.archive-months {
  li {
    list-style: none;
    margin-bottom: 30px;
    text-align: center;
    .month {
      display: block;
    	font-family: "proximanova-medium";
    	font-size: 24px;
    	font-weight: bold;
    	line-height: 29px;
      color: inherit;
    }
    .count {
      display: block;
    	opacity: 0.3;
    	color: inherit;
    	font-family: "proximanova-medium";
    	font-size: 18px;
    	font-weight: 500;
    	line-height: 22px;
    }
  }
}

li.archive-entry {
  list-style: none;
  a {
  	color: inherit;
  	font-family: "proximanova-medium";
    font-weight: bold;
  	font-size: 24px;
  	line-height: 29px;
  	text-align: center;
  }
  margin-bottom: 40px;
  em { background-color: #eee; font-style: normal; }
  .archive-date {
  	opacity: 0.3;
  	color: inherit;
  	font-family: "proximanova-medium";
  	font-size: 18px;
  	font-weight: 500;
  	line-height: 22px;
  	text-align: center;
  }
  .search-highlight {
  	color: #333333;
  	font-family: "proximanova-medium";
  	font-size: 22px;
  	font-weight: 500;
  	line-height: 34px;
  	text-align: justify;
    margin: 18px 0px;
  }
}
.archive-container { margin-bottom: 100px; }
.archive {
  margin: 0;
  font-size: 12px;
  h3 { margin: 0 0; }
}
.search-archive {
  max-width: $postWidth;
  margin: auto;
  text-align: center;
}

.archive-pagination {
  a {
  	color: inherit;
  	font-family: "proximanova-medium";
  	font-size: 18px;
  	font-weight: 500;
  	line-height: 22px;
   }
  .posthaven-archive-pagination {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .posthaven-archive-disabled {
      display: block;
    }
  }
}

#archive-results-by-date {
  display: none;
}

/*********************************************************
*  Responsiveness
*********************************************************/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
  #topbar {
    .posthaven-tab { background-image: url("images/posthaven-tab-4x.png");  }
  }
  .feed-icon {
    background-size: 14px 14px;
    background-image: url("images/feed28.png");
  }
}


@media handheld, only screen and (max-width: 767px) {
  .menu_navigation, .subscribe-footer, footer { padding: 10px 20px; }
  #header, #main, #topbar, .alert, section.subhead, .post-aside {
    margin: 0px 20px 20px; float: none;
    position: inherit; right: inherit; top: inherit;
  }
  .alert { width: auto; }
  #main_container { margin-top: 30px; }
  #header {
    h1 { font-size: 30px; } h2 { font-size: 20px; }
  }
  #back_to_blog { display: none; }
  .posthaven-archive-form input { width: 90%; }
}
