@import 'mixins';
@import 'variables';

/*********************************************************
*  Navigation
*********************************************************/
.navigation {
  align-items: center;
  display: flex;
  padding: 10px 0;
}

section.menu {
  flex: 1;

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-right: 25px;

      a {
        border-bottom: none;
        color: rgba($primary, .8);
        font-size: 20px;
        @include animate-links;
      }
    }
  }
}

.posthaven-user-menu {
  flex: 0 auto;

  .posthaven-anon {
    background: white;
    border-radius: 40px;
    border: solid 2px rgba(128,128,128,.3);
    box-sizing: border-box;
    display: block;
    font-size: 0px;
    height: 40px;
    padding: 2px;
    position: relative;
    width: 40px;

    &:hover {
      border: solid 2px rgba(128,128,128,.5);
    }

    a {
      background: #3F3F3F;
      border: none;
      border-radius: 32px;
      display: inline-block;
      height: 32px;
      overflow: hidden;
      position: relative;
      width: 32px;

      &:before {
        background: #1285F9;
        content: '';
        display: block;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
      }
    }
  }
}

