@import 'mixins';
@import 'variables';

/*********************************************************
*  Navigation
*********************************************************/
.navigation {
  align-items: center;
  display: flex;
  padding: 10px 0;
}

section.menu {
  flex: 1;

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-right: 25px;

      a {
        border-bottom: none;
        color: rgba($primary, .8);
        font-size: 20px;
        @include animate-links;
      }
    }
  }
}

.posthaven-user-menu {
  flex: 0 auto;
  position: relative;

  // icon/trigger (using .ph-trigger in js)
  figure {
    background: white;
    border-radius: 40px;
    border: solid 2px rgba(128,128,128,.3);
    box-sizing: border-box;
    display: block;
    font-size: 0px;
    height: 40px;
    padding: 2px;
    position: relative;
    width: 40px;

    &.active {
      span:after {
        border: none;
        color: #fff;
        content: "X";
        font-size: 14px;
        top: calc(50% - 8px);
        transform: none;
      }
    }

    &:hover {
      border: solid 2px rgba(128,128,128,.5);

      span {

        &:after {
          top: calc(50% - 8px);
        }
      }
    }

    span {
      background: #3F3F3F;
      border: none;
      border-radius: 32px;
      display: inline-block;
      height: 32px;
      overflow: hidden;
      position: relative;
      width: 32px;

      &:before {
        background: #1285F9;
        content: '';
        display: block;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
      }

      &:after {
        background: transparent;
        border-bottom: solid 3px white;
        border-right: solid 3px white;
        content: "";
        height: 9px;
        left: calc(50% - 5px);
        position: absolute;
        top: -15px;
        transition: top .25s ease;
        transform: rotate(45deg);
        width: 9px;
      }
    }
  }

  .ph-menu {
    display: flex;
    flex-direction: column;
    right: 0;
    position: absolute;
    top: 40px;
  }
}

