{% capture subhead_content %}
   <div class="small">
     Posts tagged with <a href="{{ site.url }}" class="tag">{{ tag.name }}<span class="clear-tag">&times;</span></a>
   </div>
{% endcapture %}

{% include 'post_list' %}
