{% capture subhead_content %}
   <div class="small">
     Posts tagged with <span class="tag">{{ tag.name }}<span class="clear-tag">&times;</span></span>
   </div>
{% endcapture %}

{% include 'post_list' %}
